<a href="https://colab.research.google.com/github/merriekay/CS65-F23/blob/main/Day09%20For%20Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS65: Day 09
## For Loops

####  CS65: Introduction to Computer Science I | Fall 2023

Wednesday, September 27th, 2023

 üìú [Syllabus](https://docs.google.com/document/d/1JTRJ-22abpu3HNhHzE2NaGfstNrrBav1MSQcLIMBWe4/edit?usp=sharing) | üì¨ [CodePost Login](https://codepost.io/login) | üìÜ [Schedule](https://docs.google.com/spreadsheets/d/e/2PACX-1vS51v65qE22qEyhLTF_q5sF_4Nu1GhWU4mDgfsF7NY8Yrjl5-ismCyXjHiR4Fuxqd1cJ9dY5l55CcV0/pubhtml?gid=0&single=true) | üôã [Polleverywhere](https://pollev.com/moore) | ü™¥ [Office Hour Sign Up](https://calendly.com/meredith-moore/office-hours)

# Admin Stuff

Grading:
- I'll work on getting Quiz #1 graded over the weekend.

You should be working on:
- [Lab #4 Loops](https://analytics.drake.edu/~moore/CS65-F23/Lab4.html) due tonight by 11:59pm.


Released today, due Monday October 2nd by 11:59pm:
- [Lab #5a Pennies](https://analytics.drake.edu/~moore/CS65-F23/Lab5a.html), 2 points, autograded
- [Lab #5b Store](https://analytics.drake.edu/~moore/CS65-F23/Lab5b.html), 2 points, manually graded

# ‚è™ Quick Review:

# ü•§Containers

Some types in Python are used for storing a collection of values. These types are called __containers__.

__List:__ a container type that stores values in a ordered _sequence_

In [ ]:
doctor_who_actors = ["Tennant", "Smith","Capaldi","Whittaker", "Gatwa"]
rainfall_amounts = [0.0, 0.3, 0.71, 0.0, 0.32, 1.1, 0.4]
dates = ["March 14, 2020", 2021, "4/1"]
empty_list = []

## üçï List Slicing:
Sometimes you want to work with not just one element, but multiple elements from a list. To do this, we use what is called __list slicing__.

A __slice__ of a list is a span of items that are taken from a sequence.
- list slicing syntax: `list[ start : end ] `
- Span is a list containing copies of elements from `start` up to, but __not including__ `end`
- if `start` is not specified, 0 is used for start index
- if `end` is not specified, `len(list)` is used for the end index.

In [ ]:
#.               0         1.      2.        3
presidents = ["George", "Thomas", "Teddy", "Abe"]
print(presidents[0])
print(presidents[1:3])
print(presidents[1:4])
print(presidents[:3])
print(presidents)
print(presidents[:])

George
['Thomas', 'Teddy']
['Thomas', 'Teddy', 'Abe']
['George', 'Thomas', 'Teddy']
['George', 'Thomas', 'Teddy', 'Abe']
['George', 'Thomas', 'Teddy', 'Abe']

In [ ]:
# section 0 got this far

## Removing items by value: `del`

When you know the __index__ of the item(s) you want to delete from the list, use the `del` keyword.

This will work on items or slices of the list.

In [ ]:
rainfall_amounts = [0.0, 0.3, 0.71, 0.0, 0.32, 1.1, 0.4]

del rainfall_amounts[:4]

print(rainfall_amounts)

[0.32, 1.1, 0.4]

## List Operation Summary:
Last class we talked about **lists**

| **Code**                     | **Operation**                                           |
|:------------------------------|:---------------------------------------------------------|
| `list_sum = sum(my_list)`    | Returns the sum of the elements in the list             |
| `num_elements= len(my_list)` | returns number of elements in list                      |
| `my_list[1] = 3`             | changes element of the list at index 1                  |
| `del my_list[3]`             | deletes element of list at index 3                      |
| `my_list.append(7)`          | adds the element 7 to the ened of the list              |
| `my_list.pop(2)`             | removes the element at index 2 (also returns the value) |
| `my_list.sort()`             | Sorts the list in ascending order                       |
| `my_list.sort(reverse=True)` | Sorts the list in descending order                      |
| `my_list.reverse()`          | reverses the list                                       |

# ‚ú® New Material

## Loops with Lists

Loops are really good for doing things with lists. For example, you use the `len()` function to find out how many items are in a list and then create a count-controlled loop to go through each item in the list, using the counter as the list index.

For example, this list will print out all of the values in the `rainfall_amounts` list.

In [ ]:
rainfall = [0.0, 0.3, 0.71, 0.0, 0.32, 1.1, 0.4]
counter = 0

# [0,1,2,3,4,5,6] < 7
while counter < len(rainfall):
    print("Day",counter,"had", rainfall[counter],"inches of rainfall.")
    counter += 1

Day 0 had 0.0 inches of rainfall.
Day 1 had 0.3 inches of rainfall.
Day 2 had 0.71 inches of rainfall.
Day 3 had 0.0 inches of rainfall.
Day 4 had 0.32 inches of rainfall.
Day 5 had 1.1 inches of rainfall.
Day 6 had 0.4 inches of rainfall.

# Introduction to For Loops and `range()`

# Count-Controlled Loops

__count-controlled loop__: a loop that ierates a specific number of times.
- So far, we've accomplished this using a combination of a `counter`, `while` loop, and the `len()` function.

In [ ]:
days_in_week = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
counter = 0
while counter < len(days_in_week):
    print(days_in_week[counter])
    counter +=1

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

# The For Loop:
## üîê‚ú® New Keywords Unlocked: `for` and `in`
Use a `for` statement to easily write count-controlled loops.
- designed to work with a sequence of data items.
    - iterates once for each item in the sequence.

## `for` loop syntax:
- keyword `for`
- __target variable__: you get to make this one up, but it's best if it hasn't been used in your current program.
- keyword `in`
- a sequence
- colon `:`

Example:

In [ ]:
days_in_week = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for day in days_in_week: #day is the target variable
    print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
for num in [1,2,3,4,5]:
    print(num)

1
2
3
4
5

<div>
<img src="https://github.com/merriekay/CS65-F23/blob/main/images/day05_forloops.png?raw=1" width="500"/>
</div>

# Group Exercise:

Walk through the following for loops. Before you try running them, see if you can predit what they will output.

In [ ]:
for val in [1,3,5,7,9]:
    print(val)

In [ ]:
for name in ['Han Solo', 'Darth Vader', 'Yoda', 'Grogu']:
    print(name)

In [ ]:
for num in [1,2,3,4,5]:
    if num%2==0:
        print(num)

In [ ]:
my_string = input("type something:")
for char in my_string:
    print(char)

# The `range()` function

The `range()` function simplifies the process of writing a for loop.

- `range()` returns an iterable object
    - *iterable* means that it contains a sequence of values that can be iterated (looped) over.

In [ ]:
range(5)

range(0, 5)

In [ ]:
#          [0,1,2,3,4]
for num in range(5):
    print(num)

0
1
2
3
4

In [ ]:
#        [0,1,2,3,4]
for x in range(5):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

## Passing `range()` Multiple Arguments

By default, the range function produces a sequence of numbers that increases by 1.

If you pass three arguments to range:
- the first number is the starting value
- the second number is the ending limit
- the third number is the step value (increment)

In [ ]:
#         [10, 8, 6, 4, 2]
for x in range(10,1,-2):
    print(x)

10
8
6
4
2

## Group Exercise:

Using for loops and the `range()` function, take a crack at the following tasks:
- print out all integers between 1 and 200 (including 200)
- print out all even integers between 1 and 200 (including 200)
- print out all integers counting down from 50 to 1
- print out all integers between 1 and 10, followed by the squares
    - So this output might look like:
    
    `1 --- 1`
    
    `2 --- 4`
    
    `3 --- 9` etc

## Two Main Formulas for For Loops:

There are two common strategies for using for loops with lists.

The first is called `list comprehension`, use this when:
- you want to access the __values__ in the list
- but you don't need access to the __index__ of each value.

For example... if we want to print out the negative temperatures from a list:

In [ ]:
temperatures = [30, 20, 2, -5, -15, -8, -1, 0, 5, 35]

for temp in temperatures:
    # print temp if it is negative
    if temp < 0:
        print(temp)

-5
-15
-8
-1

What if we wanted to print out which days had negative temperatures?

In [ ]:
# our output might look like:

Day 3 had a temperature of -5
Day 4 had a temperature of -15
Day 5 had a temperature of -8
Day 6 had a temperature of -1

So, essentially, we want to access both the:
- __values__ inside the list
- __index__ of each value in the list.

Possible solutions:
- use a counter
- use the `range()` function

In [ ]:
# what will this code do?
for index in range(len(temperatures)):
    print(index)

In [ ]:
temperatures = [30, 20, 2, -5, -15, -8, -1, 0, 5, 35]

for index in range(len(temperatures)):
    if temperatures[index] < 0:
        print("Day", index, " had a negative temperature")

# Print Formatting

If we didnt want the next print statemenet to otput on the next line, we can ass in a second __argument__ to the print function.

Passing in `end=""` inside the parenthese of `print()` will no longer make the next print statement continue on the next line.

In [ ]:
print("one")
print("two")
print("three")
print("==============")
print("one", end="")
print("two", end="")
print("three", end="")

one
two
three
==============
onetwothree

## Printing a blank line

If you want the output to contain a blank line, then print can be used without an __argument__.

In [ ]:
print("hello")
print()
print()
print("now I'm here")

hello


now I'm here

# üí¨ Goup Exercise #1:

Prompt the user for an integer

Print out a row of alternating X's and O's in which the number of characters equals the number input

In [ ]:
# Example Output #1

Please enter an integer: 3
XOX

In [ ]:
# Example Output #2

Please enter an integer: 8
XOXOXOXO

In [ ]:
# Example Output #3

Please enter an integer: 45
XOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOX

## Print formatting `sep`:

When multiple arguments are passed into the `print()` function, they are by default separated by a space.

In [ ]:
cost = 5.75
print("The cost of your item is $", cost)

The cost of your item is $ 5.75

Note the pesky space between the $ and the cost above.

## Print formatting `sep`:

If you do not want the default space between arguetsin a print statement, you can put an additional argument that specifies exactly what should be placed between items in the print statement.

For example, nothing (the empty string) denoted `""`, which is denoted as `sep = ""`

In [ ]:
cost = 5.75
print("The cost of your item is $", cost, sep="")

The cost of your item is $5.75

## The `round()` function:

Python provides a round function that rounds a decimal number to the nearest whole number.

In [ ]:
round(4.56)

5

In [ ]:
round(9.12)

9

# üí¨ Goup Exercise #2:

There is somthing peculiar (perhaps a bug?) with Python's implementation of `round()`

Tkae a minute, write some code with round, and see if you can figure out this issue...

In [ ]:
# try round(0.5), round(1), round(1.5), round(2), round(2.5), etc

## Types of Rounding

There are actually many different types of rounding:
- convergent rounding
- statistician's rounding
- Guassian rounding
- odd-even rounding
- banker's rounding

Python's rounding:
- Numbers which are equidistant from the wo nearest integers are roundd to the nearest _even integer_.
- Thus, 0.5 rounds down to 0; 1.5 rounds up to 2.

## Rounding to Decimal Places:

You can also use round to round float numbers to a specific number of decimal places...

In [ ]:
my_val = round(3.1415926, 3)
print(my_val)

3.142

# Let's Practice:

The following exercises have [solution code available here](https://drive.google.com/drive/folders/1N2R-CknezO9jh1ctNosvYRiWytgId52O?usp=drive_link)

## Exercise #1:

Write both the `for` loop and the `while` loop that will have this output:

In [ ]:
# for loop

1
2
3
4
5
6
7
8
9
10

In [ ]:
# while loop

1
2
3
4
5
6
7
8
9
10

## Exercise #2:

- Write a loop that will execute 5 times.
- Within the loop, get a float vlaue from the user (the amount of rain that fell in a day)
- use an accumulator to add up all of the rain that fell over the five days
- outside of the loop, print out the sum of all of the rainfall.

In [ ]:
# output might look like this:

What is the rainfall? 2
What is the rainfall? 0
What is the rainfall? 1
What is the rainfall? 1.1
What is the rainfall? 3
There was a total of 7.1 inches of rain

## Exercise #3:
- `1+2+3+4+5+ = 15`
- `1+2+3+4+5+6 = 21`

Prompt the user for an integer. Output the sum of all of the integers up to an dincluding the input number.

In [ ]:
# possible output

Please enter an integer: 6
The sum of integers 1 through 6 is 21

In [ ]:
# possible output #2

Please enter an integer: 5
The sum of integers 1 through 5 is 15

In [ ]:
# possible output #3

Please enter an integer: 100
The sum of integers 1 through 100 is 5050

## Exercise #4:

Prompt the user for an integer

Print out a row of alternating `X`s and `O`s in which. the number or characters equals the number input.

In [ ]:
# example output

please enter an integer: 3
XOX

In [ ]:
# example output

please enter an integer: 10
XOXOXOXOXO

In [ ]:
# example output

please enter an integer: 100
XOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXOXO

## Exercise #5

The user can play a game. Each time they type in the word yes or yep (capitalization doesn't matter) then they earn $0.015. (1 and a half cents)

As soon as they teyp in somthing other than yes or yep, then their turn is over.

Write the program that will implement this and also output how much they have earned (rounded to the nearest cent(.

Pay close attention to the formatting:

In [ ]:
# possible output

would you like to play? yes
would you like to play? YES
would you like to play? yep
would you like to play? Yep
would you like to play? YeS
would you like to play? no
you earned $0.09

## Exercise #6:

Describe in English what this code will do:

In [ ]:
import random

num = random.randint(1,10)

for try_number in [1,2,3,4,5]:
    print("Try", try_number, "--", end="")
    guess = int(input(" guess a number "))
    if guess == num:
        print("You got it!")
    else:
        print("Nope.")

# Admin Stuff

You should be working on:
- [Lab #4 Loops](https://analytics.drake.edu/~moore/CS65-F23/Lab4.html) due tonight by 11:59pm.


Released today, due Monday October 2nd by 11:59pm:
- [Lab #5a Pennies](https://analytics.drake.edu/~moore/CS65-F23/Lab5a.html), 2 points, autograded
- [Lab #5b Store](https://analytics.drake.edu/~moore/CS65-F23/Lab5b.html), 2 points, manually graded